<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet"/>
	<title>Halimber</title>
</head>
<body>
<div width="100%" align="center">
	<div style="width:380px; position:relative; padding:10px; top:50px;" align="left" class="well">
		<h4>Halimber Test</h4>
		<a href="/auth/youtube" class="btn btn-block btn-social btn-youtube">
			<i class="fa fa-youtube"></i> Entrar con Youtube
		</a>
	</div>
</div>
</body>
</html>
